/*:root {
    --bg-crema: #FDF0D5;
    --deep-blue: #003049;
    --brick-red: #C1121F;
    --steel-blue: #669BBC;
    --molten-lava: #780000;
    --white: #ffffff;
}*/

/* Ajustes base para ASP.NET */
/*html {
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, sans-serif;
}*/
/* Asegura que el footer se quede abajo sin usar Bootstrap */
/*body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;*/ /* Esto empuja el footer al fondo */
    /*padding: 20px 8%;
}

.main-footer {
    background-color: var(--deep-blue);
    color: var(--bg-crema);
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

    .main-footer a {
        color: var(--steel-blue);
        text-decoration: none;
    }*/

/* Si quieres que el Hero ocupe todo el ancho ignora el padding en esa sección */
/*.hero-section {
    width: 100%;*/
    /* El alto ya lo tienes en calc(100vh - 80px) */
/*}*/